@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 355 35% 12%;
    --primary-foreground: 30 15% 98%;
    --secondary: 42 47% 61%;
    --secondary-foreground: 355 35% 12%;
    --muted: 355 15% 42%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 30 15% 98%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 355 20% 88%;
    --input: 214.3 31.8% 91.4%;
    --ring: 42 47% 61%;
    --radius: 0.5rem;
  }

  * {
    @apply box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply m-0 bg-[#f5f3ea] text-[#173d3a] antialiased;
    font-family: 'Arimo', sans-serif;
  }

  img {
    @apply block max-w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-[#173d3a] font-bold font-sans;
  }
}